// ========================================
// LAYOUT
// ========================================

.container {
    @include center-container($max: 1024px);
    min-width: 300px;
}

.img {
    @include flexy($justify: space-between);

    &__thumbnail {
        @include mq(small) {
            margin: em(3px);
            width: em(156px);
        };
        @include mq(middle) {
            margin: em(14px);
        }
        @include mq(big) {
            margin: em(28px);
        }
    }
}
