// ----- Base input and textarea ----------
// ----------

.form {
    &__label {
        &--hidden {
            display: none;
        }
    }

    &__input {
        @extend %round-box;
        display: block;
        width: 30%;
        margin: 2em auto;
        padding-left: 1em;
        padding-right: 1em;

        &::placeholder {
            font-size: $base__font-size;
            font-style: oblique;
        }
    }
}
